<li>
  <%= link_to user.name, user %>
  <% if logged_in? %>
    <% if current_user.admin? && !current_user?(user) %>
      <span class="small delete">
        <%= link_to "delete", user, method: :delete, data: { confirm: "本当に消すのかにょ？ " } %>
      </span>
    <% end %>
  <% end %>

</li>
