<span class="user"><%= "#{ pick.user.name}の#{ pick.round}位指名(無効)" %></span>
<span>
  <del style="color: silver;">
    <b><%= pick.name %></b>
  </del>
</span>
<span class="delete small">
  <% if current_user.admin? %>
    <ul><%= link_to "delete", pick, method: :delete, data: { confirm: "本当に消すのかにょ？ " } %></ul>
  <% end %>
</span>
