<li id="pick-<%= pick.id %>">
  <%  if pick.lost %>
    <%= render partial: 'lost_pick', locals: { pick: pick } %>
  <% else %>
    <%= render partial: 'right_pick', locals: {  pick: pick } %>
  <% end %>
</li>
